:root{
  --clr-pri-green: hsl(171, 66%, 44%);
  --clr-pri-blue: hsl(233, 100%, 69%);

  --clr-neu-gray1: hsl(210, 10%, 33%);
  --clr-neu-gray2: hsl(201, 11%, 66%);

  --font-family: 'Bai Jamjuree';
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: #ffffff;
  height: 100vh;
  width: 100%;
  font-family: var(--font-family);
  font-size: 1.125rem;
   
}

header{
  padding-top: 80px;
  padding-bottom: 60px;
  width: 100%;
  background: url(images/bg-header-mobile.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
}
.logo-container{
  width: 100%;
}
.logo{
  display: block;
  margin: 0 auto;
}
section{
  width: 100%;
}
h1, h2, h3{
  color: var(--clr-neu-gray1);
  font-weight: 600;
}
p{
  color: var(--clr-neu-gray2);
  font-weight: 400;
}
.history{
  padding: 0 20px 50px;
  text-align: center;
}
.history h1{
  padding-bottom: 20px;
}
.history p{
  line-height: 30px;
  padding-bottom: 30px;
}
.history button, .clipboard button{
  font-size: 1.125rem;
  font-weight: 400;
  display: block;
  padding: 15px 60px;
  color: #fff;
  margin: 0 auto 20px;
  border: none;
  border-radius: 40px;
}
.history button:nth-of-type(1), .clipboard button:nth-of-type(1) {
  background-color: var(--clr-pri-green);
}
.history button:nth-of-type(2), .clipboard button:nth-of-type(2){
  background-color: var(--clr-pri-blue);
}
.history button:nth-of-type(1):hover, .clipboard button:nth-of-type(1):hover{
  box-shadow: 5px 5px 5px 5px hsl(171, 66%, 44%, 0.2);
}
.history button:nth-of-type(2):hover, .clipboard button:nth-of-type(2):hover{
  box-shadow: 5px 5px 5px 5px hsl(233, 100%, 69%, 0.2);
}
.track{
  padding: 50px 30px ;
  text-align: center;
}
.track h2 {
  padding-bottom: 20px;
}
.track p{
  line-height: 30px;
}
.image-container{
  margin-bottom: 80px;
}
.image{
  width: 80%;
  margin: 0 auto;
}
.image img{
  width: 100%;
}
.features-div {
  padding: 20px 30px;
}
.features-div div{
  text-align: center;
}
.features-div div h3{
  font-weight: 600;
  padding: 20px 0;
}
.features-div div p{
  line-height: 30px;
}
.access{
  padding: 20px 30px;
  text-align: center;
}
.access h2{
  padding-bottom: 20px;
}
.access p{
  line-height: 30px;
}
.image2{
  width: 85%;
  margin: 0 auto;
}
.image2 img{
  width: 100%;
}
.image-container2{
  margin-bottom: 50px;
}
.tools h2, .tools p{
  padding: 0 30px;
  text-align: center;
}
.tools h2{
  padding-bottom: 20px;
}
.tools div img{
  display: block;
  margin: 0 auto;
  padding-bottom: 40px;
}
.tools p{
  line-height: 30px;
  padding-bottom: 50px;
}
.company-logo{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  margin-bottom: 100px;
}
.clipboard{
  padding: 20px 20px;
  text-align: center;
}
.clipboard p{
  line-height: 30px;
  padding-top: 20px;
  padding-bottom: 40px;
}
footer{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 45px;
  background-color: rgba(243, 240, 240, 0.534);
}
.image3{
  width: 10%;
  margin: 20px auto 0;
}
.image3 img{
  display: block;
  width: 100%;

}
.footer-features{
  text-align: center;
}
.footer-features h2{
  margin-bottom: 15px;
}
.social-icons{
  display: flex;
 gap: 40px;
 margin-bottom: 40px;
}
button, .social-icons, .footer-features h2{
  cursor: pointer;
}
@media(min-width: 768px){
  header{
    background: url(images/bg-header-desktop.png);
  }
  .history button, .clipboard button{
    display: inline;
    margin-right: 20px;
    padding: 10px 25px;
    font-weight: 400;
    font-size: 15px;
  }
    .history, .subheading, .access, .clipboard{
    max-width: 620px;
    margin: 0 auto;
  padding: 0;
  text-align: center;
}
.image-container{
    display: flex;
    gap: 20px;
   
  }
  .image{
  width: 60%;
  margin: 0;
}
.features-div{
  max-width: 350px;
}
.features-div div{
 text-align: left;
}
}


@media(min-width: 1024px){

.image-container{
  padding-right: 100px;
}
  
.features-div{
  max-width: 500px;
}


.image2{
  width: 750px;
  margin: 0 auto;
  padding-top: 30px;
}
.image2 img{
  width: 100%;
}
.tools-list{
  display: flex;
  margin-top: 20px;
}
.company-logo{
  display: flex;
  flex-direction:row;
justify-content: space-around;
padding: 0 50px;
  gap: 50px;
  margin-top: 100px;
  margin-bottom: 100px;
}
.clipboard{
  margin-bottom: 50px;
}
footer{
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}
.footer-features h3{
  font-weight: 400;
}
.footer-features {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 30px;
}
.footer-features h2:nth-child(1){
grid: ;
}
.footer-features h2:nth-child(2){

}
.footer-features h2:nth-child(3){

}
.footer-features h2:nth-child(4){

}
.footer-features h2:nth-child(5){

}
.social-icons{
  display: flex;
  flex-wrap: wrap;
 gap: 40px;
 margin-bottom: 40px;
}
}